---
import BaseButton from "./base/BaseButton.astro";
import IconAppStore from "./IconAppStore.astro";
import IconGooglePlay from "./IconGooglePlay.astro";

interface Props {
  t: Record<string, string>;
}

const { t } = Astro.props;
---

<BaseButton
  iconLeft={IconAppStore}
  bigIcon
  size="sm"
  tag="a"
  target="_blank"
  href="https://apps.apple.com/app/sportsmatch/6741365151"
>
  <span class="flex flex-col items-start leading-[1.05] my-1">
    <span class="color-gra uppercase font-medium text-[9px] tracking-[0.1em]">
      {t["store.available"]}
    </span>
    <span class="font-bold">{t["store.appstore"]}</span>
  </span>
</BaseButton>
<BaseButton
  iconLeft={IconGooglePlay}
  bigIcon
  size="sm"
  tag="a"
  target="_blank"
  href="https://play.google.com/store/apps/details?id=com.fersuter.sportsmatch"
>
  <span class="flex flex-col items-start leading-[1.05] my-1">
    <span class="color-gra uppercase font-medium text-[9px] tracking-[0.1em]">
      {t["store.available"]}
    </span>
    <span class="font-bold">{t["store.googleplay"]}</span>
  </span>
</BaseButton>
