---
import Layout from "../../layouts/BaseLayout.astro";
import { getPageConfig, getTranslationRoutes } from "../../config/routes";

const currentLang = "es-ES";
const pageKey = "sports-handball";

const pageConfig = getPageConfig(pageKey, currentLang);
const translationRoutes = getTranslationRoutes(pageKey);
---

<Layout
  title={pageConfig?.title || "No Title"}
  description={pageConfig?.description || "No description"}
  currentLang={currentLang}
  translationRoutes={translationRoutes}
>
  <section class="py-20 text-center">
    <h1 class="text-3xl font-bold">{pageConfig?.title}</h1>
  </section>
</Layout>
